<div>
  <%= for item <- @plan_items do %>
  <div>
    <div>
      <%= item.name %>
    </div>
    <div>
      <%= format_duration(item) %>
    </div>
    <div>
      <%= item.description %>
    </div>
  </div>
  <hr />
  <% end %>
</div>
