<div>
  <%= for item <- @plan_items do %>
  <div>
    <div>
      <%= item.name %>
    </div>
    <div>
      <%= item.starts_at %> - <%= item.ends_at %>
    </div>
    <div>
      <%= item.description %>
    </div>
  </div>
  <hr />
  <% end %>
</div>
